.footer {
  display: flex;
  background: #0f1111;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__col {
  width: 25%;
  color: white;
  padding-left: 20px;
}

.footer__heading {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__col > li {
  list-style-type: none;
  line-height: 20px;
  font-size: 12px;
}
